<div class="principal-card request">
  <div class="section-header">
    <div  class="name-title">
      <mat-icon>receipt</mat-icon>
      <span>Your requests</span>
    </div>
  </div>
  <div  class="content section-grid">
    <div class="name-title" *ngIf="requests?.length === 0; else requestListView">
      <span >You don't have any request</span>
    </div>
    <ng-template #requestListView>
      <mat-card class="grid-card" *ngFor="let request of requests">
        <div>
            <mat-card-header  class="grid-title">
              <mat-card-title>{{request.firstNameStudent}}  {{request.lastNameStudent}}</mat-card-title>
              <mat-card-subtitle>{{request.createdAt}}</mat-card-subtitle>
            </mat-card-header>
            <mat-divider></mat-divider>
            <br>
            <mat-card-content class="grid-content" style="margin-left: 15px">
              {{request.content}}
            </mat-card-content>
        </div>
            <mat-card-actions *ngIf="type === 'landlord'" align="end">
              <button mat-flat-button  class="card-button" (click)="acceptRequest(request.id,request)">
                <mat-icon>done</mat-icon> Accept</button>
              <button mat-flat-button  class="card-button" (click)="deniedRequest(request.id,request)">
                <mat-icon>clear</mat-icon> Denied</button>
            </mat-card-actions>
            <mat-card-actions *ngIf="type === 'student'" align="end">
              <button mat-flat-button  class="card-button" (click)="deniedRequest(request.id,request)">
                <mat-icon>clear</mat-icon> Cancel</button>
            </mat-card-actions>
          </mat-card>
    </ng-template>
  </div>

</div>
