<mat-card class="principal-card">
  <mat-card-header>
    <mat-card-title>Add property</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form (ngSubmit)="onSubmit()" #propertyForm="ngForm">
      <p>
        <mat-form-field>
          <mat-label>Number of Rooms</mat-label>
          <input matInput placeholder="Ex. 4" name="rooms" type="number" required [(ngModel)]="propertyData.rooms">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Size</mat-label>
          <input matInput placeholder="Ex. 200" name="size" type="number" required [(ngModel)]="propertyData.size">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
          <mat-label>Cost (S/.)</mat-label>
          <input matInput placeholder="Ex. 1000" name="cost" type="number" required [(ngModel)]="propertyData.cost">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
          <mat-label>Address</mat-label>
          <input matInput placeholder="Ex. Jr. Anywhere" name="address" required [(ngModel)]="propertyData.address">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
          <mat-label>Title</mat-label>
          <input matInput placeholder="Ex. It's a title" name="title"  [(ngModel)]="propertyData.title">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
          <mat-label>Description</mat-label>
          <input matInput placeholder="Ex. It's a description" name="description"  [(ngModel)]="propertyData.description">
        </mat-form-field>
      </p>
      <div>
        <p>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Region</mat-label>
            <mat-select
              [(value)]="selectedRegion">
              <mat-option *ngFor="let region of regions"
                          (onSelectionChange)="retrieveProvinces(region.id)"
                          [value]="region">
                {{region.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Province</mat-label>
            <mat-select
              [(value)]="selectedProvince">
              <mat-option *ngFor="let province of provinces"
                          [value]="province"
                          (onSelectionChange)="retrieveDistricts(province.id)">
                {{province.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>District</mat-label>
            <mat-select [(value)]="selectedDistrict">
              <mat-option
                [value]="district"
                *ngFor="let district of districts">
                {{district.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </p>
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-button class="edit-button" (click)="addProperty()">Add</button>
    <button mat-button class="edit-button" (click)="navigateToProperties()">Cancel</button>
  </mat-card-actions>
</mat-card>
