<mat-card class="principal-card">
  <mat-card-content>
    <mat-grid-list cols="12" rowHeight="110px">
      <mat-grid-tile colspan="3" rowspan="12">
        <div class="internalMatGrid">
          <mat-card>
            <mat-grid-list cols="3" rowHeight="35px">
              <mat-grid-tile colspan="3" rowspan="11">
                <mat-card-content>
                  <img mat-card-image [src]="studentData.image" alt="Student photo" class="avatar">
                </mat-card-content>
              </mat-grid-tile>
              <mat-grid-tile colspan="3" rowspan="1" style="margin-bottom: 5px">
                <div *ngIf="!isEditMode">
                  <button mat-button class="btn">Change Image</button>
                </div>
              </mat-grid-tile>
              <mat-grid-tile colspan="3" rowspan="1">
                <div>
                  <mat-card-subtitle>
                    Reviews: {{opinions.length}}
                  </mat-card-subtitle>
                </div>
              </mat-grid-tile>
              <mat-grid-tile colspan="3" rowspan="1">
                <mat-card-subtitle>
                  {{studentData.firstName}}  {{studentData.lastName}}
                </mat-card-subtitle>
              </mat-grid-tile>
              <mat-grid-tile colspan="3" rowspan="1">
                <mat-card-subtitle>
                  {{studentData.email}}
                </mat-card-subtitle>
              </mat-grid-tile>
              <mat-grid-tile colspan="3" rowspan="1">
                <mat-card-subtitle>
                  {{studentData.phone}}
                </mat-card-subtitle>
              </mat-grid-tile>
            </mat-grid-list>
          </mat-card>
        </div>
      </mat-grid-tile>
      <mat-grid-tile colspan="9" rowspan="11">
        <div class="internalMatGrid">
          <mat-card>
            <mat-card-header>
              <mat-card-title class="name-title">
                Hi, my name is {{studentData.firstName}}
              </mat-card-title>
            </mat-card-header>
            <mat-card-content class="description-text">
              <div>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ac nisl lobortis, porta mi vel,
                  sagittis urna.
                  Praesent mollis dolor euismod sem iaculis, vel bibendum lorem blandit. Fusce mattis consectetur
                  tincidunt.
                  Praesent elit dui, vulputate in porttitor ultricies, aliquam eu libero. Quisque ac turpis quis mi
                  condimentum
                  elementum et eget odio. Nullam consequat dignissim urna, vitae varius lorem placerat ac. Sed at
                  accumsan enim.
                  Nullam eu lectus ac nulla egestas lacinia vel quis arcu. Nam feugiat lectus sit amet risus feugiat
                  venenatis.
                  Integer tristique malesuada elementum. Praesent at odio ut purus elementum mollis. Suspendisse
                  convallis sed
                  dui pharetra viverra. Nullam tincidunt interdum augue, vel pharetra ex fermentum vel. Donec
                  tincidunt finibus
                  justo eget dapibus.
                </p>
              </div>
            </mat-card-content>
            <mat-card-actions *ngIf="!isEditMode" align="end">
              <button mat-button class="edit-button">Edit profile</button>
            </mat-card-actions>
            <mat-card-footer style="margin-left: 5%; margin-bottom: 5%">
                <mat-card-content>
                  <div *ngFor="let opinion of opinions">
                    <mat-card class="default-spacer list-cards">
                      <mat-card-content>{{opinion.content}}</mat-card-content>
                      <mat-card-footer class="opinions-footer">{{opinion.score}}</mat-card-footer>
                    </mat-card>
                  </div>
                </mat-card-content>
            </mat-card-footer>
          </mat-card>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>
</mat-card>
