<mat-card class="principal-card">
  <mat-card-header>
    <mat-card-title class="name-title">
      Your properties
    </mat-card-title>
  </mat-card-header>
  <mat-card-actions align="end">
    <button mat-button class="edit-button" (click)="navigateToAddProperty()">Add property</button>
  </mat-card-actions>
  <mat-card-content [style]="contentStyle">
    <mat-grid-list cols="2" [rowHeight]="190"style="height: auto" >
      <mat-grid-tile *ngFor="let property of properties" colspan="1" rowspan="1">
        <mat-card class="prop-card">
          <mat-card-header>
            <mat-card-title class="name-title">
              Property {{property.id}}
            </mat-card-title>
            <mat-card-subtitle>
              {{property.title}}
            </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content class="description-text">
            <div>
              <p>This awesome property is probably one of your best choices. It offers
              {{property["rooms"]}} rooms and it has a size about {{property["size"]}} square meters.
              Its monthly price is S/.{{property["cost"]}}. This property is located in {{property["address"]}}
              </p>
            </div>
          </mat-card-content>
          <mat-card-actions align="end">
            <button mat-button class="edit-button" (click)="navigateToPropertyDetails(property)">See details</button>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>
</mat-card>
