<mat-card class="principal-card">
  <mat-card-content>
    <div *ngIf="contracts?.length === 0; else contractListView">
      <h1 style="color: black; text-align: center;margin-top: 50px;font-size: 50px">You don't have any contract</h1>
    </div>

    <ng-template #contractListView>
      <div class="margin-card" *ngFor="let contract of contracts">
        <div fxLayout="row" fxLayoutAlign="center">
          <mat-card class="example-card">
            <mat-card-header class="main-header">
              <div fxLayout="row">
                <mat-card-title *ngIf="type==='landlord'"
                                style="margin-bottom: 0">
                  Student Name:
                  <h3 >{{contract.firstNameStudent}}  {{contract.lastNameStudent}}</h3>
                </mat-card-title>

                <mat-card-title *ngIf="type==='student'"
                                style="margin-bottom: 0">
                  Landlord Name:
                  <h3 >{{contract.firstNameLandlord}}  {{contract.lastNameLandlord}}</h3>
                </mat-card-title>

              </div>
            </mat-card-header>
            <mat-divider class="default-spacer"></mat-divider>
            <mat-card-content>
              <div fxLayoutAlign="right"
                   fxLayout="column">
                <h2 style="margin-bottom: 2px">Description:</h2>
                <p style="margin-left: 5%">{{contract.description}}</p>
              </div>

            </mat-card-content>
            <mat-card-actions fxLayoutAlign="end"
                              style="margin-right: 20px;"
                              align="right">
              <button *ngIf="type === 'landlord'"
                      mat-button class="ok-btn"
                      (click)="concludeContract(contract.id,contract)">
                Concluded</button>
              <button *ngIf="type === 'student'"
                      mat-button class="deny-btn"
                      (click)="addPayment(contract.id)" style="margin-left: 5px">
                Denied</button>
            </mat-card-actions>
          </mat-card>
        </div>

      </div>
    </ng-template>
  </mat-card-content>

</mat-card>
